/* Class Selectors */

/* Styles for the whole page */
.App {
  background-color: #f4f0bb; 
  padding: 20px 80px;
}

/* Styles for the Header component */
.header {
  background-color: #31572c; 
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
}

.logo {
  width: 100px;
}

.company-name {
  color: #ecf39e;
  margin-left: 20px;
}

.welcome-signin {
  color: #132a13;
  margin: 15px;
}

/* Styles for the LandingPage component */
.about {
  background-color: #90a955;
  color: #132a13;
  padding: 30px 20px;
  text-align: justify;
  border-radius: 5px;
}

/* Style for the Products component */
.our-product {
  color: #132a13;
  margin: 15px;
}

.product {
  background-color: #ecf39e;
  color: #31572c;
  padding: 25px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 3px 7px 15px #8a795d;
}
.my-product {
  display: grid;
  grid-template-columns: auto auto;
}

/* Style for the nav items */
.nav {
  display: grid;
  grid-template-columns: auto auto auto;
}

.nav-item {
  color: white;
  background-color: #90a955;
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 15px;
}

/* Style for log out button */
.logout-btn {
  background-color: #ecf39e;
  border: 0;
  box-shadow: 1px 3px 8px #8a795d;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 20px 0;
}

/* Style for the InterestCalculator component */
.calculator {
  margin-top: 20px;
  margin-left: 15px;
}
.calculator > h3 {
  color: #132a13;
}
.calculator-body > h5 {
  margin-top: 10px;
  margin-bottom: 0;
}
.calculator-body > input {
  background-color: eae2b7;
  border: 1px #90a955 solid;
  border-radius: 5px;
  padding: 5px;
  color: #132a13;
}
.calculate-btn {
  background-color: #90a955;
  border: 0;
  box-shadow: 1px 3px 8px #8a795d;
  border-radius: 8px;
  padding: 5px 15px;
  margin: 15px 0;
}
.pay-amount {
  margin-left: 10px;
  color: #d62828;
}